<a href="https://colab.research.google.com/github/okkuun/blog/blob/main/pandas_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
import urllib.request
from io import StringIO

In [5]:
url = "https://raw.githubusercontent.com/facebook/prophet/main/examples/example_wp_log_peyton_manning.csv"

In [50]:
# ref: https://yaju3d.hatenablog.jp/entry/2018/06/30/122754
def read_csv_from_url(url: str) -> pd.DataFrame:
    res = urllib.request.urlopen(url)
    res = res.read().decode("utf-8")
    df = pd.read_csv(StringIO(res))
    return df

In [57]:
df = read_csv_from_url(url)

In [58]:
df.head(5)

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [59]:
df["ds"] = pd.to_datetime(df["ds"])

In [54]:
np.random.seed(2022)
feature_1 = pd.DataFrame({
    "target_ds": df["ds"],
    "flag_1": np.random.binomial(1, 0.25, len(df))
})
feature_2 = pd.DataFrame({
    "target_ds": df["ds"],
    "flag_2": np.random.binomial(1, 0.1, len(df))
})
flag_df_list = [feature_1, feature_2]

In [38]:
for _df_flag in flag_df_list:
    df = pd.merge(
        left=df,
        right=_df_flag,
        how="left",
        left_on="ds",
        right_on="target_ds"
    )
df.head()

          ds         y target_ds_x  flag_1 target_ds_y  flag_2
0 2007-12-10  9.590761  2007-12-10       0  2007-12-10       0
1 2007-12-11  8.519590  2007-12-11       0  2007-12-11       0
2 2007-12-12  8.183677  2007-12-12       0  2007-12-12       0
3 2007-12-13  8.072467  2007-12-13       0  2007-12-13       0
4 2007-12-14  7.893572  2007-12-14       0  2007-12-14       0

In [69]:
df = read_csv_from_url(url)
df["ds"] = pd.to_datetime(df["ds"])

In [70]:
np.random.seed(2022)
feature_1 = pd.DataFrame({
    "ds": df["ds"],
    "flag_1": np.random.binomial(1, 0.25, len(df))
})
feature_2 = pd.DataFrame({
    "ds": df["ds"],
    "flag_2": np.random.binomial(1, 0.1, len(df))
})
flag_df_list = [feature_1, feature_2]

In [71]:
for _df_flag in flag_df_list:
    df = pd.merge(
        left=df,
        right=_df_flag,
        how="left",
    )
df.head()

          ds         y  flag_1  flag_2
0 2007-12-10  9.590761       0       0
1 2007-12-11  8.519590       0       0
2 2007-12-12  8.183677       0       0
3 2007-12-13  8.072467       0       0
4 2007-12-14  7.893572       0       0